[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[alias]
	unstage = reset HEAD -
	last = log -1 HEAD
	logr = log --reverse
	staash = stash --all
	st = status
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[user]
	name = Nicolas A. Serna
	email = serna.nicolas.abel@gmail.com
